@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Medium.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Medium.woff") format("woff"), url("../fonts/SukhumvitSet-Medium.ttf") format("truetype"), url("../fonts/SukhumvitSet-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  padding-top: calc( 50px + 30 * ((100vw - 320px) / 1600)); }

.container-header {
  max-width: 1690px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1702px) {
    .container-header {
      padding: 0 115px; } }

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 993px) {
    .header-row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.header-column:nth-child(1) {
  -webkit-transform: translate(-120%, 0px);
  -ms-transform: translate(-120%, 0px);
  transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  @media (max-width: 993px) {
    .header-column:nth-child(1) {
      -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
      transform: translate(0px, 120%); } }

.header-column:nth-child(2) {
  -webkit-transform: translate(120%, 0px);
  -ms-transform: translate(120%, 0px);
  transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.header-column:nth-child(1)._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1; }

.header-column:nth-child(2)._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1; }

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-menu-list_1 {
    background: url("../img/icons/01.svg") left no-repeat;
    display: inline-block;
    padding-left: calc( 30px + 10 * ((100vw - 320px) / 1600));
    padding-bottom: 3px;
    text-align: center; }
  .header-menu-list_2 {
    background: url("../img/icons/02.svg") left no-repeat;
    display: inline-block;
    padding-left: calc( 30px + 10 * ((100vw - 320px) / 1600));
    padding-bottom: 3px;
    text-align: center; }
  .header-menu-list__text {
    font-family: "Sukhumvit Set";
    font-weight: 500;
    font-size: 18px;
    color: #ffffff; }
    @media (max-width: 480px) {
      .header-menu-list__text {
        font-size: 15px; } }
  .header-menu-list__link {
    font-family: "Sukhumvit Set";
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 0 0 64px; }
    @media (max-width: 480px) {
      .header-menu-list__link {
        font-size: 15px;
        margin: 0 0 0 44px; } }

.header-menu-list li span {
  display: inline-block;
  padding: 3px 0 0 0; }

.header-menu-bottom {
  text-align: center;
  padding: 0 10px; }
  @media (max-width: 993px) {
    .header-menu-bottom {
      padding-top: calc( 100px + 200 * ((100vw - 320px) / 1600));
      -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
      transform: translate(0px, 120%);
      opacity: 0;
      -webkit-transition: all 0.8s ease 0s;
      -o-transition: all 0.8s ease 0s;
      transition: all 0.8s ease 0s; } }
  @media (max-width: 360px) {
    .header-menu-bottom {
      -webkit-transform: translate(0px, 80%);
      -ms-transform: translate(0px, 80%);
      transform: translate(0px, 80%); } }
  @media (max-height: 550px) {
    .header-menu-bottom {
      padding-top: calc( 50px + 150 * ((100vw - 320px) / 1600));
      padding-bottom: calc( 50px + -50 * ((100vw - 320px) / 1600)); } }

@media (max-width: 993px) {
  .header-menu-bottom._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 1.4s;
    -o-transition: all 0.8s ease 1.4s;
    transition: all 0.8s ease 1.4s; } }

@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Bold.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Bold.woff") format("woff"), url("../fonts/SukhumvitSet-Bold.ttf") format("truetype"), url("../fonts/SukhumvitSet-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

.btn {
  background: #dcac9b;
  border-radius: 2px;
  padding: 14px 102px;
  font-family: "Sukhumvit Set";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #1a1a1a; }
  .btn_s {
    width: 282px;
    height: 59px; }
  .btn_sb {
    width: 100%;
    height: 59px; }
  .btn.fw {
    width: 100%; }

.select-block {
  position: relative; }

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px; }

.select {
  position: relative;
  cursor: pointer; }
  .select .select-title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50px;
    background: #1a1a1a;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px); }
  .select .select-title__arrow {
    position: absolute;
    top: 0;
    right: -15px;
    width: 45px;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: url("../img/subscribe/03.svg") center no-repeat; }
  .select .select-title__value {
    font-family: "Sukhumvit Set";
    font-size: 16px;
    font-weight: 300;
    color: #8e8e8e;
    line-height: 53px;
    display: block;
    overflow: hidden;
    padding: 0 18px;
    white-space: nowrap;
    text-transform: uppercase;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
    @media (max-width: 993px) {
      .select .select-title__value {
        font-size: 14px; } }
  .select .select-options {
    position: absolute;
    z-index: 10;
    top: 54px;
    display: none;
    overflow: hidden;
    min-width: 100%;
    background: #1a1a1a;
    border: 1px solid #6d6d6d;
    padding: 10px 18px; }
  .select .select-options-scroll {
    max-height: 80px;
    overflow: auto; }
  .select .select-options-list {
    padding: 0px 0px 0px 0px; }
  .select .select-options__value {
    font-family: "Sukhumvit Set";
    font-size: 16px;
    font-weight: 300;
    color: #8e8e8e;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px; }
    @media (max-width: 993px) {
      .select .select-options__value {
        font-size: 14px; } }
    .select .select-options__value:last-child {
      margin: 0px 0px 0px 0px; }
    .select .select-options__value:hover {
      color: #fff;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 18px;
  height: 41px;
  font-family: "Sukhumvit Set";
  font-weight: 300;
  font-size: 16px;
  line-height: 165%;
  text-transform: uppercase;
  color: #8e8e8e;
  background: #1a1a1a;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transform: translate(120%, 0px);
  -ms-transform: translate(120%, 0px);
  transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  @media (max-width: 993px) {
    .input {
      font-size: 14px; } }
  .input.err {
    border-left: 1px solid red; }

.input._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1; }

textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 18px; }

.footer-container {
  max-width: 1690px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1702px) {
    .footer-container {
      padding: 0 115px; } }
  @media (max-width: 993px) {
    .footer-container {
      padding: 0 25px; } }

.footer {
  position: relative;
  background: url("../img/footer/01.png") center/cover no-repeat; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 45px 0; }
    @media (max-width: 993px) {
      .footer__row {
        padding: 20px 0; } }
  .footer__logo {
    z-index: 1;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .footer__logo img {
        width: 130px; } }
  .footer__logo._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .footer__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Sukhumvit Set";
    font-size: 16px;
    line-height: 165%;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    -webkit-transform: translate(120%, 0px);
    -ms-transform: translate(120%, 0px);
    transform: translate(120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    .footer__copy span {
      padding: 0 0 0 25px;
      background: url("../img/footer/02.svg") left no-repeat; }
      @media (max-width: 993px) {
        .footer__copy span {
          padding: 0 0 0 20px; } }
    @media (max-width: 993px) {
      .footer__copy {
        font-size: calc( 10px + 6 * ((100vw - 320px) / 1600)); } }
  .footer__copy._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat.eot");
  src: local("☺"), url("fonts/Montserrat.woff") format("woff"), url("fonts/Montserrat.ttf") format("truetype"), url("fonts/Montserrat.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Saudagar";
  src: url("../fonts/Saudagar.eot");
  src: local("☺"), url("../fonts/Saudagar.woff") format("woff"), url("../fonts/Saudagar.ttf") format("truetype"), url("../fonts/Saudagar.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Light.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Light.woff") format("woff"), url("../fonts/SukhumvitSet-Light.ttf") format("truetype"), url("../fonts/SukhumvitSet-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Medium.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Medium.woff") format("woff"), url("../fonts/SukhumvitSet-Medium.ttf") format("truetype"), url("../fonts/SukhumvitSet-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Bold.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Bold.woff") format("woff"), url("../fonts/SukhumvitSet-Bold.ttf") format("truetype"), url("../fonts/SukhumvitSet-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.mainblock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .mainblock__image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .mainblock::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.72); }

.salon {
  position: relative;
  z-index: 10; }
  .salon__container {
    width: 100%;
    margin: 0 auto; }
  .salon__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    padding-top: calc( 54px + 195 * ((100vw - 320px) / 1600));
    padding-bottom: calc( 0px + 349 * ((100vw - 320px) / 1600)); }
    @media (max-height: 993px) {
      .salon__row {
        padding-top: calc( 5px + 85 * ((100vw - 320px) / 1600));
        padding-bottom: calc( 0px + 100 * ((100vw - 320px) / 1600)); } }
  .salon__column:nth-child(1) {
    margin-bottom: calc( 20px + 20 * ((100vw - 320px) / 1600));
    -webkit-transform: translate(0px, 120%);
    -ms-transform: translate(0px, 120%);
    transform: translate(0px, 120%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .salon__column:nth-child(2) {
    margin-bottom: calc( 40px + 30 * ((100vw - 320px) / 1600));
    -webkit-transform: translate(0px, 120%);
    -ms-transform: translate(0px, 120%);
    transform: translate(0px, 120%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .salon__column:nth-child(3) {
    -webkit-transform: translate(0px, 120%);
    -ms-transform: translate(0px, 120%);
    transform: translate(0px, 120%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .salon__column:nth-child(1)._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
  .salon__column:nth-child(2)._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 1s;
    -o-transition: all 0.8s ease 1s;
    transition: all 0.8s ease 1s; }
  .salon__column:nth-child(3)._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 1.2s;
    -o-transition: all 0.8s ease 1.2s;
    transition: all 0.8s ease 1.2s; }
  .salon__title {
    font-family: "Saudagar";
    font-size: calc( 80px + 195 * ((100vw - 320px) / 1600));
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }
    @media (max-height: 768px) {
      .salon__title {
        padding: 150px 0 0 0; } }
    .salon__title_animation_show span {
      opacity: 0;
      -webkit-animation: show 4s ease 0s forwards;
      animation: show 4s ease 0s forwards; }
      .salon__title_animation_show span:nth-child(1) {
        -webkit-animation-delay: 1.3s;
        animation-delay: 1.3s; }
      .salon__title_animation_show span:nth-child(2) {
        -webkit-animation-delay: 1.8s;
        animation-delay: 1.8s; }
      .salon__title_animation_show span:nth-child(3) {
        -webkit-animation-delay: 2.3s;
        animation-delay: 2.3s; }
      .salon__title_animation_show span:nth-child(4) {
        -webkit-animation-delay: 2.8s;
        animation-delay: 2.8s; }
      .salon__title_animation_show span:nth-child(5) {
        -webkit-animation-delay: 3.2s;
        animation-delay: 3.2s; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .salon__title_animation_hide span {
      -webkit-animation: hide 1s ease 0s;
      animation: hide 1s ease 0s; }
      .salon__title_animation_hide span:nth-child(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }
      .salon__title_animation_hide span:nth-child(2) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }
      .salon__title_animation_hide span:nth-child(3) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }
      .salon__title_animation_hide span:nth-child(4) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }
      .salon__title_animation_hide span:nth-child(5) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .salon__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    font-size: calc( 15px + 17 * ((100vw - 320px) / 1600));
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }

.content {
  position: relative;
  z-index: 1;
  background-color: #fff; }

.coming {
  background: url("../img/coming/01.png") center/cover no-repeat; }
  .coming__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .coming__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .coming__top {
    font-family: "Saudagar";
    font-size: calc( 50px + 255 * ((100vw - 320px) / 1600));
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.06;
    padding-bottom: calc( 50px + 161 * ((100vw - 320px) / 1600));
    -webkit-animation: show 2s ease infinite alternate;
    animation: show 2s ease infinite alternate;
    -webkit-transform: translate(0px, 30%);
    -ms-transform: translate(0px, 30%);
    transform: translate(0px, 30%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .coming__top {
        -webkit-transform: translate(0px, 120%);
        -ms-transform: translate(0px, 120%);
        transform: translate(0px, 120%); } }
  .coming__top._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }

@keyframes show {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
  .coming__title {
    font-family: "Saudagar";
    font-size: 50px;
    font-size: calc( 25px + 25 * ((100vw - 320px) / 1600));
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 775px;
    padding-bottom: calc( 31px + 15 * ((100vw - 320px) / 1600));
    line-height: calc( 35px + 15 * ((100vw - 320px) / 1600));
    -webkit-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .coming__title._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .coming__text {
    font-family: Sukhumvit Set;
    font-weight: 300;
    font-size: calc( 14px + 8 * ((100vw - 320px) / 1600));
    text-align: center;
    max-width: calc( 265px + 600 * ((100vw - 320px) / 1600));
    color: rgba(255, 255, 255, 0.8);
    line-height: calc( 25px + 10 * ((100vw - 320px) / 1600)); }

.lines:nth-child(1) {
  display: inline-block;
  margin-bottom: calc( 30px + 20 * ((100vw - 320px) / 1600));
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.lines:nth-child(2) {
  display: inline-block;
  margin-bottom: calc( 50px + 388 * ((100vw - 320px) / 1600));
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.lines:nth-child(1)._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.lines:nth-child(2)._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s; }

.schedule {
  padding: 0 100px; }
  @media (max-width: 993px) {
    .schedule {
      padding: 0; } }
  .schedule__container {
    max-width: 1520px;
    margin: 0 auto;
    background-color: #fff; }
  .schedule__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc( 0px + -238 * ((100vw - 320px) / 1600)); }
  .schedule__column {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .schedule__column:nth-child(1) {
      padding-bottom: calc( 0px + 340 * ((100vw - 320px) / 1600));
      -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
      transform: translate(0px, 20%);
      opacity: 0;
      -webkit-transition: all 0.8s ease 0s;
      -o-transition: all 0.8s ease 0s;
      transition: all 0.8s ease 0s; }
      .schedule__column:nth-child(1) img {
        height: 100%;
        width: 100%; }
      @media (max-width: 993px) {
        .schedule__column:nth-child(1) {
          padding: 0;
          -webkit-transform: translate(0px, 50%);
          -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%); } }
    .schedule__column:nth-child(2) {
      padding-bottom: calc( 66px + 179 * ((100vw - 320px) / 1600)); }
      .schedule__column:nth-child(2) img {
        height: 100%;
        width: 100%; }
      @media (max-width: 993px) {
        .schedule__column:nth-child(2) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .schedule__column:nth-child(1)._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
  .schedule__phone {
    padding: 0 60px 0 0;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .schedule__phone {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 0 20px; } }
  .schedule__phone._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
    @media (max-width: 993px) {
      .schedule__phone._active {
        -webkit-transition: all 0.8s ease 0.4s;
        -o-transition: all 0.8s ease 0.4s;
        transition: all 0.8s ease 0.4s; } }
  .schedule__item {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    @media (max-width: 993px) {
      .schedule__item {
        -ms-flex-item-align: start;
        align-self: flex-start;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        padding: 50px 20px 30px 20px; } }
    .schedule__item_hover-left:hover .schedule__number {
      left: -30px; }
      @media (max-width: 768px) {
        .schedule__item_hover-left:hover .schedule__number {
          left: -15px; } }
      @media (max-height: 480px) {
        .schedule__item_hover-left:hover .schedule__number {
          left: -15px; } }
  .schedule__number {
    font-family: "Saudagar";
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #dcac9b;
    position: relative;
    left: 0;
    -webkit-transition: left 1s ease 0s;
    -o-transition: left 1s ease 0s;
    transition: left 1s ease 0s;
    -webkit-transform: translate(300%, 0px);
    -ms-transform: translate(300%, 0px);
    transform: translate(300%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .schedule__number._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .schedule__title {
    font-family: "Saudagar";
    font-size: calc( 30px + 20 * ((100vw - 320px) / 1600));
    line-height: 130%;
    text-transform: uppercase;
    color: #1a1a1a;
    max-width: 390px;
    -webkit-transform: translate(120%, 0px);
    -ms-transform: translate(120%, 0px);
    transform: translate(120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .schedule__title {
        max-width: none; } }
  .schedule__title._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
  .schedule__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    font-size: calc( 15px + 7 * ((100vw - 320px) / 1600));
    line-height: 172%;
    color: rgba(26, 26, 26, 0.8);
    max-width: 494px;
    -webkit-transform: translate(120%, 0px);
    -ms-transform: translate(120%, 0px);
    transform: translate(120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .schedule__text {
        max-width: none; } }
  .schedule__text._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.4s;
    -o-transition: all 0.8s ease 0.4s;
    transition: all 0.8s ease 0.4s; }

.money {
  background: url("../img/money/01.png") center/cover no-repeat;
  padding: 0 100px; }
  @media (max-width: 993px) {
    .money {
      padding: 0; } }
  .money__container {
    max-width: 1437px;
    margin: 0 auto; }
  .money__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 993px) {
      .money__column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .money__item {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    @media (max-width: 1366px) {
      .money__item {
        padding: 0 50px 0 0; } }
    @media (max-width: 993px) {
      .money__item {
        padding: 50px 20px 30px 20px;
        -ms-flex-item-align: start;
        align-self: flex-start; } }
    @media (max-height: 480px) {
      .money__item {
        -ms-flex-item-align: start;
        align-self: flex-start; } }
    .money__item_hover-left:hover .money__number {
      left: -30px; }
      @media (max-width: 768px) {
        .money__item_hover-left:hover .money__number {
          left: -15px; } }
      @media (max-height: 480px) {
        .money__item_hover-left:hover .money__number {
          left: -15px; } }
  .money__number {
    font-family: "Saudagar";
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #dcac9b;
    position: relative;
    left: 0;
    -webkit-transition: left 1s ease 0s;
    -o-transition: left 1s ease 0s;
    transition: left 1s ease 0s;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .money__number._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .money__title {
    font-family: "Saudagar";
    font-size: calc( 30px + 20 * ((100vw - 320px) / 1600));
    line-height: 130%;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 390px;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .money__title {
        max-width: none; } }
  .money__title._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
  .money__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    font-size: calc( 15px + 7 * ((100vw - 320px) / 1600));
    line-height: 172%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 494px;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .money__text {
        max-width: none; } }
  .money__text._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.4s;
    -o-transition: all 0.8s ease 0.4s;
    transition: all 0.8s ease 0.4s; }
  .money__image_b {
    margin-top: calc( -45px + -30 * ((100vw - 320px) / 1600));
    -webkit-transform: translate(120%, 0px);
    -ms-transform: translate(120%, 0px);
    transform: translate(120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    .money__image_b img {
      height: 100%;
      width: 100%; }
    @media (max-width: 993px) {
      .money__image_b {
        display: none; } }
  .money__image_b._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .money__image_l {
    -webkit-transform: translate(120%, 0px);
    -ms-transform: translate(120%, 0px);
    transform: translate(120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (min-width: 993px) {
      .money__image_l {
        display: none; } }
    @media (max-width: 993px) {
      .money__image_l img {
        height: 100%;
        width: 100%; } }
  .money__image_l._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.4s;
    -o-transition: all 0.8s ease 0.4s;
    transition: all 0.8s ease 0.4s; }

.personal {
  padding-top: calc( 50px + 190 * ((100vw - 320px) / 1600));
  padding-bottom: calc( 70px + 130 * ((100vw - 320px) / 1600)); }
  @media (max-width: 993px) {
    .personal {
      padding: 0; } }
  .personal__container {
    max-width: 1690px;
    margin: 0 auto; }
  .personal__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 100px 210px 100px; }
    @media (max-width: 993px) {
      .personal__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 993px) {
      .personal__top {
        padding: 0 0 90px 0; } }
  .personal__item {
    -ms-flex-item-align: start;
    align-self: flex-start; }
    .personal__item:nth-child(1) {
      padding: 0 50px 0 0; }
      @media (max-width: 993px) {
        .personal__item:nth-child(1) {
          padding: 50px 20px 40px 20px; } }
    @media (max-width: 993px) {
      .personal__item:nth-child(2) {
        padding: 0 20px 0px 20px; } }
    .personal__item_hover-left:hover .personal__number {
      left: -30px; }
      @media (max-width: 768px) {
        .personal__item_hover-left:hover .personal__number {
          left: -15px; } }
      @media (max-height: 480px) {
        .personal__item_hover-left:hover .personal__number {
          left: -15px; } }
  .personal__number {
    font-family: "Saudagar";
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #dcac9b;
    position: relative;
    left: 0;
    -webkit-transition: left 1s ease 0s;
    -o-transition: left 1s ease 0s;
    transition: left 1s ease 0s;
    -webkit-transform: translate(-220%, 0px);
    -ms-transform: translate(-220%, 0px);
    transform: translate(-220%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    .personal__number_animsrcol {
      -webkit-transform: translate(220%, 0px);
      -ms-transform: translate(220%, 0px);
      transform: translate(220%, 0px); }
  .personal__number._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .personal__title {
    font-family: "Saudagar";
    font-size: calc( 30px + 20 * ((100vw - 320px) / 1600));
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    max-width: 484px;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    .personal__title_m {
      max-width: 350px; }
      @media (max-width: 1460px) {
        .personal__title_m {
          max-width: 300px; } }
    .personal__title_animsrcol {
      -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
      transform: translate(120%, 0px); }
  .personal__title._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
  .personal__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    font-size: calc( 15px + 7 * ((100vw - 320px) / 1600));
    line-height: 172%;
    color: rgba(26, 26, 26, 0.8);
    max-width: 484px;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .personal__text {
        max-width: none; } }
    .personal__text_animsrcol {
      -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
      transform: translate(120%, 0px); }
  .personal__text._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.4s;
    -o-transition: all 0.8s ease 0.4s;
    transition: all 0.8s ease 0.4s; }
  .personal__body {
    padding: 0 80px 210px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    -webkit-transform: translate(0px, 30%);
    -ms-transform: translate(0px, 30%);
    transform: translate(0px, 30%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .personal__body {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 0 200px 0; } }
  .personal__body._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .personal__circle img {
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-animation: run 1.5s linear infinite alternate;
    animation: run 1.5s linear infinite alternate; }
    @media (max-width: 993px) {
      .personal__circle img {
        -webkit-animation: run_m 1s linear infinite alternate;
        animation: run_m 1s linear infinite alternate; } }
  .personal__circle:nth-child(2) {
    padding: 0 35px; }
  @media (max-width: 993px) {
    .personal__circle:first-child {
      display: none; }
    .personal__circle:nth-child(3) {
      display: none; } }
  .personal__circle:nth-child(1) img {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .personal__circle:nth-child(2) img {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .personal__circle:nth-child(3) img {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }

@-webkit-keyframes run {
  0% {
    top: -25%; }
  100% {
    top: 25%; } }

@keyframes run {
  0% {
    top: -25%; }
  100% {
    top: 25%; } }

@-webkit-keyframes run_m {
  0% {
    right: 10%; }
  100% {
    right: -10%; } }

@keyframes run_m {
  0% {
    right: 10%; }
  100% {
    right: -10%; } }
  .personal__phone {
    position: absolute;
    top: -25%;
    left: 35.3%; }
    .personal__phone img {
      height: 90%;
      width: 90%; }
    @media (max-width: 1702px) {
      .personal__phone img {
        height: 80%;
        width: 80%; } }
    @media (max-width: 1440px) {
      .personal__phone {
        left: 36%; }
        .personal__phone img {
          height: 70%;
          width: 70%; } }
    @media (max-width: 1300px) {
      .personal__phone {
        top: -20%;
        left: 37%; }
        .personal__phone img {
          height: 60%;
          width: 60%; } }
    @media (max-width: 1100px) {
      .personal__phone {
        left: 37.5%; }
        .personal__phone img {
          height: 50%;
          width: 50%; } }
    @media (max-width: 993px) {
      .personal__phone {
        top: -15%;
        left: 28%; }
        .personal__phone img {
          height: 80%;
          width: 80%; } }
    @media (max-width: 768px) {
      .personal__phone {
        left: 23%; } }
    @media (max-width: 600px) {
      .personal__phone {
        left: 15%; } }
    @media (max-width: 480px) {
      .personal__phone {
        top: -17%;
        left: 13%; }
        .personal__phone img {
          height: 85%;
          width: 85%; } }
    @media (max-width: 360px) {
      .personal__phone {
        top: -13%;
        left: 16%; } }
    @media (max-height: 550px) {
      .personal__phone {
        left: 23%; } }
    @media (max-height: 380px) {
      .personal__phone {
        left: 17%; } }
    @media screen and (min-width: 993px) and (max-height: 550px) {
      .personal__phone {
        left: 37%; } }
    @media screen and (max-width: 568px) and (max-height: 320px) {
      .personal__phone img {
        height: 85%;
        width: 85%; } }
    @media screen and (min-width: 480px) and (max-width: 668px) and (min-height: 668px) and (max-height: 880px) {
      .personal__phone {
        top: -12%;
        left: 15%; }
        .personal__phone img {
          height: 80%;
          width: 80%; } }
  .personal__bottom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 993px) {
      .personal__bottom {
        margin: -100px 0 0 0;
        padding: 0 0 70px 0; } }
  .personal__text_b {
    font-family: "Sukhumvit Set";
    font-size: 25px;
    line-height: 130%;
    text-transform: uppercase;
    padding: 0 0 50px 0;
    -webkit-transform: translate(0px, 50%);
    -ms-transform: translate(0px, 50%);
    transform: translate(0px, 50%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .personal__text_b {
        font-size: 22px; } }
  .personal__text_b._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
  .personal__button {
    max-width: 384px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    -webkit-transform: translate(0px, 50%);
    -ms-transform: translate(0px, 50%);
    transform: translate(0px, 50%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .personal__button {
        max-width: 335px;
        width: 100%;
        margin: -20px 0 0 0; } }
  .personal__button._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.4s;
    -o-transition: all 0.8s ease 0.4s;
    transition: all 0.8s ease 0.4s; }
  .personal__btn {
    font-family: "Sukhumvit Set";
    font-weight: 500;
    font-size: calc( 16px + 2 * ((100vw - 320px) / 1600));
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    border-radius: 2px; }

.btn_t {
  background-color: #000000;
  display: inline-block;
  padding: 10px 10px; }

.btn_t span {
  display: inline-block;
  padding: 4px 0 0 8px; }

.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.subscribe__column:nth-child(1) {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }
  @media (max-width: 993px) {
    .subscribe__column:nth-child(1) {
      display: none; } }

.subscribe__column:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  background: url("../img/subscribe/02.png") center/cover no-repeat;
  width: 100%;
  min-height: 100%;
  -webkit-transform: translate(120%, 0px);
  -ms-transform: translate(120%, 0px);
  transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.subscribe__column:nth-child(2)._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1; }

.subscribe__image_l {
  padding: 0px 0px 131% 0px;
  min-height: 100%;
  -webkit-transform: translate(-120%, 0px);
  -ms-transform: translate(-120%, 0px);
  transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.subscribe__image_l._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1; }

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 200px 120px; }
  @media (max-width: 1702px) {
    .subscribe-form {
      padding: 150px 80px; } }
  @media (max-width: 993px) {
    .subscribe-form {
      padding: 70px 20px; } }
  .subscribe-form__title {
    font-family: "Saudagar";
    font-size: 50px;
    line-height: 130%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 0 60px 0;
    -webkit-transform: translate(120%, 0px);
    -ms-transform: translate(120%, 0px);
    transform: translate(120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    @media (max-width: 993px) {
      .subscribe-form__title {
        font-size: calc( 25px + 25 * ((100vw - 320px) / 1600));
        padding: 0 0 30px 0; } }
  .subscribe-form__title._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .subscribe-form__border-bottom {
    opacity: 0.7;
    border-bottom: 1px solid #ffffff !important;
    margin: 0 0 50px 0;
    -webkit-transform: translate(120%, 0px);
    -ms-transform: translate(120%, 0px);
    transform: translate(120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    .subscribe-form__border-bottom_l {
      margin: 0 0 70px 0; }
      @media (max-width: 993px) {
        .subscribe-form__border-bottom_l {
          margin: 0 0 50px 0; } }
  .subscribe-form__border-bottom._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .subscribe-form__button {
    -webkit-transform: translate(30%, 0px);
    -ms-transform: translate(30%, 0px);
    transform: translate(30%, 0px);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .subscribe-form__button._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .subscribe-form__select.active .select-title__arrow {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }
