@import "nullstyle.scss";
@import "ui.scss";
@import "header.scss";
@import "forms.scss";
@import "footer.scss";

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat.eot");
  src: local("☺"), url("fonts/Montserrat.woff") format("woff"),
    url("fonts/Montserrat.ttf") format("truetype"),
    url("fonts/Montserrat.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Saudagar";
  src: url("../fonts/Saudagar.eot");
  src: local("☺"), url("../fonts/Saudagar.woff") format("woff"),
    url("../fonts/Saudagar.ttf") format("truetype"),
    url("../fonts/Saudagar.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Light.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Light.woff") format("woff"),
    url("../fonts/SukhumvitSet-Light.ttf") format("truetype"),
    url("../fonts/SukhumvitSet-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Medium.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Medium.woff") format("woff"),
    url("../fonts/SukhumvitSet-Medium.ttf") format("truetype"),
    url("../fonts/SukhumvitSet-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/SukhumvitSet-Bold.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Bold.woff") format("woff"),
    url("../fonts/SukhumvitSet-Bold.ttf") format("truetype"),
    url("../fonts/SukhumvitSet-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

$maxWidth: 1920;
@mixin adaptive-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  #{$property}: calc(
    #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
  );
}

$minwidth: 320px;
$mw: 1690px;
$md1: $mw + 12px;
$md2: 993px;
$md3: 768px;
$md4: 480px;

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

//#######################################################################################################
.mainblock {
  position: relative;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: center;

  &__image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.72);
  }
}

//#######################################################################################################
.salon {
  position: relative;
  z-index: 10;

  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    @include adaptive-value("padding-top", 249, 54);
    @include adaptive-value("padding-bottom", 349, 0);
    @media (max-height: $md2) {
      @include adaptive-value("padding-top", 90, 5);
      @include adaptive-value("padding-bottom", 100, 0);
    }
  }

  &__column {
    &:nth-child(1) {
      @include adaptive-value("margin-bottom", 40, 20);
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &:nth-child(2) {
      @include adaptive-value("margin-bottom", 70, 40);
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &:nth-child(3) {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &:nth-child(1)._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
    &:nth-child(2)._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 1s;
    }
    &:nth-child(3)._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 1.2s;
    }
  }

  &__title {
    font-family: "Saudagar";
    @include adaptive-value("font-size", 275, 80);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    @media (max-height: $md3) {
      padding: 150px 0 0 0;
    }
    &_animation {
      &_show {
        span {
          opacity: 0;
          animation: show 4s ease 0s forwards;
          &:nth-child(1) {
            animation-delay: 1.3s;
          }
          &:nth-child(2) {
            animation-delay: 1.8s;
          }
          &:nth-child(3) {
            animation-delay: 2.3s;
          }
          &:nth-child(4) {
            animation-delay: 2.8s;
          }
          &:nth-child(5) {
            animation-delay: 3.2s;
          }
        }
        @keyframes show {
          0% {
            opacity: 0;
          }
          20% {
            opacity: 1;
          }
          100% {
            opacity: 1;
          }
        }
      }
      &_hide {
        span {
          animation: hide 1s ease 0s;
          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 0s;
          }
          &:nth-child(3) {
            animation-delay: 0s;
          }
          &:nth-child(4) {
            animation-delay: 0s;
          }
          &:nth-child(5) {
            animation-delay: 0s;
          }
        }
        @keyframes hide {
          0% {
            opacity: 1;
          }
          20% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }

  &__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    @include adaptive-value("font-size", 32, 15);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

//#######################################################################################################
.content {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

//#######################################################################################################
.coming {
  background: url("../img/coming/01.png") center / cover no-repeat;

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__top {
    font-family: "Saudagar";
    @include adaptive-value("font-size", 305, 50);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.06;
    @include adaptive-value("padding-bottom", 211, 50);
    animation: show 2s ease infinite alternate;
    transform: translate(0px, 30%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    @media (max-width: $md2) {
      transform: translate(0px, 120%);
    }
  }
  &__top._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  @keyframes show {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  &__title {
    font-family: "Saudagar";
    font-size: 50px;
    @include adaptive-value("font-size", 50, 25);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 775px;
    @include adaptive-value("padding-bottom", 46, 31);
    @include adaptive-value("line-height", 50, 35);
    transform: translate(0px, 100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__text {
    font-family: Sukhumvit Set;
    font-weight: 300;
    @include adaptive-value("font-size", 22, 14);
    text-align: center;
    @include adaptive-value("max-width", 865, 265);
    color: rgba(255, 255, 255, 0.8);
    @include adaptive-value("line-height", 35, 25);
  }
}

.lines {
  &:nth-child(1) {
    display: inline-block;
    @include adaptive-value("margin-bottom", 50, 30);
    transform: translate(0px, 100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &:nth-child(2) {
    display: inline-block;
    @include adaptive-value("margin-bottom", 438, 50);
    transform: translate(0px, 100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &:nth-child(1)._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
  }
  &:nth-child(2)._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
  }
}

//#######################################################################################################
.schedule {
  padding: 0 100px;
  @media (max-width: $md2) {
    padding: 0;
  }

  &__container {
    max-width: 1520px;
    margin: 0 auto;
    background-color: #fff;
  }

  &__row {
    display: flex;
    flex-direction: column;
    @include adaptive-value("margin-top", -238, 0);
  }

  &__column {
    position: relative;
    display: flex;
    justify-content: space-between;
    &:nth-child(1) {
      @include adaptive-value("padding-bottom", 340, 0);
      img {
        height: 100%;
        width: 100%;
      }
      transform: translate(0px, 20%);
      opacity: 0;
      transition: all 0.8s ease 0s;
      @media (max-width: $md2) {
        padding: 0;
        transform: translate(0px, 50%);
      }
    }
    &:nth-child(2) {
      @include adaptive-value("padding-bottom", 245, 66);
      img {
        height: 100%;
        width: 100%;
      }
      @media (max-width: $md2) {
        display: flex;
        flex-direction: column;
      }
    }
    &:nth-child(1)._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  &__phone {
    padding: 0 60px 0 0;
    @media (max-width: $md2) {
      order: 2;
      padding: 0 20px;
    }
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__phone._active {
    transform: translate(0px, 0px);
    opacity: 1;
    @media (max-width: $md2) {
      transition: all 0.8s ease 0.4s;
    }
  }

  &__item {
    align-self: center;
    @media (max-width: $md2) {
      align-self: flex-start;
      order: 1;
      padding: 50px 20px 30px 20px;
    }
    &_hover-left {
      &:hover .schedule__number {
        left: -30px;
        @media (max-width: $md3) {
          left: -15px;
        }
        @media (max-height: $md4) {
          left: -15px;
        }
      }
    }
  }

  &__number {
    font-family: "Saudagar";
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #dcac9b;
    position: relative;
    left: 0;
    transition: left 1s ease 0s;
    transform: translate(300%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__number._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
  }

  &__title {
    font-family: "Saudagar";
    @include adaptive-value("font-size", 50, 30);
    line-height: 130%;
    text-transform: uppercase;
    color: #1a1a1a;
    max-width: 390px;
    @media (max-width: $md2) {
      max-width: none;
    }
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
  }

  &__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    @include adaptive-value("font-size", 22, 15);
    line-height: 172%;
    color: rgba(26, 26, 26, 0.8);
    max-width: 494px;
    @media (max-width: $md2) {
      max-width: none;
    }
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__text._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
  }
}

//#######################################################################################################
.money {
  background: url("../img/money/01.png") center / cover no-repeat;
  padding: 0 100px;
  @media (max-width: $md2) {
    padding: 0;
  }

  &__container {
    max-width: 1437px;
    margin: 0 auto;
  }

  &__row {
  }

  &__column {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md2) {
      flex-direction: column;
    }
  }

  &__item {
    align-self: center;
    @media (max-width: 1366px) {
      padding: 0 50px 0 0;
    }
    @media (max-width: $md2) {
      padding: 50px 20px 30px 20px;
      align-self: flex-start;
    }
    @media (max-height: $md4) {
      align-self: flex-start;
    }
    &_hover-left {
      &:hover .money__number {
        left: -30px;
        @media (max-width: $md3) {
          left: -15px;
        }
        @media (max-height: $md4) {
          left: -15px;
        }
      }
    }
  }

  &__number {
    font-family: "Saudagar";
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #dcac9b;
    position: relative;
    left: 0;
    transition: left 1s ease 0s;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__number._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__title {
    font-family: "Saudagar";
    @include adaptive-value("font-size", 50, 30);
    line-height: 130%;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 390px;
    @media (max-width: $md2) {
      max-width: none;
    }
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
  }

  &__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    @include adaptive-value("font-size", 22, 15);
    line-height: 172%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 494px;
    @media (max-width: $md2) {
      max-width: none;
    }
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__text._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
  }

  &__image {
    &_b {
      img {
        height: 100%;
        width: 100%;
      }
      @include adaptive-value("margin-top", -75, -45);
      @media (max-width: $md2) {
        display: none;
      }
      transform: translate(120%, 0px);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &_b._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }

    &_l {
      @media (min-width: $md2) {
        display: none;
      }
      @media (max-width: $md2) {
        img {
          height: 100%;
          width: 100%;
        }
      }
      transform: translate(120%, 0px);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &_l._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.4s;
    }
  }
}

//#######################################################################################################
.personal {
  @include adaptive-value("padding-top", 240, 50);
  @include adaptive-value("padding-bottom", 200, 70);
  @media (max-width: $md2) {
    padding: 0;
  }

  &__container {
    max-width: $mw;
    margin: 0 auto;
  }

  &__row {
  }

  &__column {
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 210px 100px;
    @media (max-width: $md2) {
      flex-direction: column;
    }
    @media (max-width: $md2) {
      padding: 0 0 90px 0;
    }
  }

  &__item {
    align-self: flex-start;
    &:nth-child(1) {
      padding: 0 50px 0 0;
      @media (max-width: $md2) {
        padding: 50px 20px 40px 20px;
      }
    }
    &:nth-child(2) {
      @media (max-width: $md2) {
        padding: 0 20px 0px 20px;
      }
    }
    &_hover-left {
      &:hover .personal__number {
        left: -30px;
        @media (max-width: $md3) {
          left: -15px;
        }
        @media (max-height: $md4) {
          left: -15px;
        }
      }
    }
  }

  &__number {
    font-family: "Saudagar";
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #dcac9b;
    position: relative;
    left: 0;
    transition: left 1s ease 0s;
    transform: translate(-220%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &_animsrcol {
      transform: translate(220%, 0px);
    }
  }
  &__number._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__title {
    font-family: "Saudagar";
    @include adaptive-value("font-size", 50, 30);
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    max-width: 484px;
    &_m {
      max-width: 350px;
      @media (max-width: 1460px) {
        max-width: 300px;
      }
    }
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &_animsrcol {
      transform: translate(120%, 0px);
    }
  }
  &__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
  }

  &__text {
    font-family: "Sukhumvit Set";
    font-weight: 300;
    @include adaptive-value("font-size", 22, 15);
    line-height: 172%;
    color: rgba(26, 26, 26, 0.8);
    max-width: 484px;
    @media (max-width: $md2) {
      max-width: none;
    }
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &_animsrcol {
      transform: translate(120%, 0px);
    }
  }
  &__text._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
  }

  &__body {
    padding: 0 80px 210px 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: $md2) {
      justify-content: center;
      align-items: center;
      padding: 0 0 200px 0;
    }
    transform: translate(0px, 30%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__body._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__circle {
    img {
      height: 100%;
      width: 100%;
      position: relative;
      animation: run 1.5s linear infinite alternate;
      @media (max-width: $md2) {
        animation: run_m 1s linear infinite alternate;
      }
    }

    &:nth-child(2) {
      padding: 0 35px;
    }
    @media (max-width: $md2) {
      &:first-child {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }

    &:nth-child(1) {
      img {
        animation-delay: 0s;
      }
    }
    &:nth-child(2) {
      img {
        animation-delay: 0.4s;
      }
    }
    &:nth-child(3) {
      img {
        animation-delay: 0.8s;
      }
    }
  }
  @keyframes run {
    0% {
      top: -25%;
    }
    100% {
      top: 25%;
    }
  }
  @keyframes run_m {
    0% {
      right: 10%;
    }
    100% {
      right: -10%;
    }
  }

  &__phone {
    img {
      height: 90%;
      width: 90%;
    }
    position: absolute;
    top: -25%;
    left: 35.3%;
    @media (max-width: $md1) {
      img {
        height: 80%;
        width: 80%;
      }
    }
    @media (max-width: 1440px) {
      img {
        height: 70%;
        width: 70%;
      }
      left: 36%;
    }
    @media (max-width: 1300px) {
      img {
        height: 60%;
        width: 60%;
      }
      top: -20%;
      left: 37%;
    }
    @media (max-width: 1100px) {
      img {
        height: 50%;
        width: 50%;
      }
      left: 37.5%;
    }
    @media (max-width: $md2) {
      img {
        height: 80%;
        width: 80%;
      }
      top: -15%;
      left: 28%;
    }
    @media (max-width: 768px) {
      left: 23%;
    }
    @media (max-width: 600px) {
      left: 15%;
    }
    @media (max-width: $md4) {
      img {
        height: 85%;
        width: 85%;
      }
      top: -17%;
      left: 13%;
    }
    @media (max-width: 360px) {
      top: -13%;
      left: 16%;
    }
    @media (max-height: 550px) {
      left: 23%;
    }
    @media (max-height: 380px) {
      left: 17%;
    }
    @media screen and (min-width: $md2) and (max-height: 550px) {
      left: 37%;
    }
    @media screen and (max-width: 568px) and (max-height: $minwidth) {
      img {
        height: 85%;
        width: 85%;
      }
    }
    @media screen and (min-width: $md4) and (max-width: 668px) and (min-height: 668px) and (max-height: 880px) {
      img {
        height: 80%;
        width: 80%;
      }
      top: -12%;
      left: 15%;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $md2) {
      margin: -100px 0 0 0;
      padding: 0 0 70px 0;
    }
  }

  &__text {
    &_b {
      font-family: "Sukhumvit Set";
      font-size: 25px;
      line-height: 130%;
      text-transform: uppercase;
      padding: 0 0 50px 0;
      @media (max-width: $md2) {
        font-size: 22px;
      }
      transform: translate(0px, 50%);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &_b._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }

  &__button {
    max-width: 384px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    @media (max-width: $md2) {
      max-width: 335px;
      width: 100%;
      margin: -20px 0 0 0;
    }
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__button._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
  }

  &__btn {
    font-family: "Sukhumvit Set";
    font-weight: 500;
    @include adaptive-value("font-size", 18, 16);
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    border-radius: 2px;
  }
}

.btn {
  &_t {
    background-color: #000000;
    display: inline-block;
    padding: 10px 10px;
  }
  &_t span {
    display: inline-block;
    padding: 4px 0 0 8px;
  }
}

//#######################################################################################################
.subscribe {
  &__row {
    display: flex;
  }

  &__column {
    &:nth-child(1) {
      flex: 1 0 50%;
      @media (max-width: $md2) {
        display: none;
      }
    }

    &:nth-child(2) {
      flex: 1 0 50%;
      background: url("../img/subscribe/02.png") center / cover no-repeat;
      width: 100%;
      min-height: 100%;
      transform: translate(120%, 0px);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &:nth-child(2)._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  &__image {
    &_l {
      padding: 0px 0px 131% 0px;
      min-height: 100%;
      transform: translate(-120%, 0px);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
    &_l._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 200px 120px;
  @media (max-width: $md1) {
    padding: 150px 80px;
  }
  @media (max-width: $md2) {
    padding: 70px 20px;
  }

  &__title {
    font-family: "Saudagar";
    font-size: 50px;
    line-height: 130%;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 0 60px 0;
    @media (max-width: $md2) {
      @include adaptive-value("font-size", 50, 25);
      padding: 0 0 30px 0;
    }
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__body {
  }

  &__item {
  }

  &__border-bottom {
    opacity: 0.7;
    border-bottom: 1px solid #ffffff !important;
    margin: 0 0 50px 0;
    &_l {
      margin: 0 0 70px 0;
      @media (max-width: $md2) {
        margin: 0 0 50px 0;
      }
    }
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__border-bottom._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__button {
    transform: translate(30%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__button._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__btn {
  }

  &__select {
    &.active {
      .select-title__arrow {
        transform: rotate(-180deg);
      }
    }
  }
}
